/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
body {
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;
}
.contenitore {
    width: 70%;
    margin: auto;
    background-color: white;
}
ul {
    list-style: none;
    margin-top: 25px;
}

/* Colors  */
.color-check {
    color: #93d4c6;
    border-color:  #93d4c6;
}
.color-cross {
    color: #ee807a;
    border-color: #ee807a;
}
.editorial {
    background-color: #46abea;
}
.q1-goals {
    background-color: #9c73e3;
}
.recruiting {
     background-color: #64c1aa;
}
.mobile {
     background-color: #f29f33;
}
.website {
     background-color: #d763a1;
}
.sales {
     background-color: #b1c926;
}



/* Header */
header {
    height: 80px;
    background-color: white;
    padding: 15px;
}
h1 {
    display: inline;
    vertical-align: middle;
}
img {
    vertical-align: middle;
}

/* Main */
.cont-button {
    height: 50px;
    margin-top: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 14px 50px;
}
button {
    border-radius: 5px;
    padding: 5px;
    vertical-align: middle;
}
.button-task {
    color: white;
    background-color: #48adf1;
    border: 1px solid #48adf1;
}
.button-section {
    color: lightgray;
    border: 1px solid lightgray;
    background-color: white;
}

.cont-altro {
    height: 500px;
    margin-top: 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 50px;
}
.button-check-cross {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    font-size: 15px;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid;
}
.button-altro {
    color: white;
    font-size: 10px;
    padding: 7px;
    border-radius: 10px;
    vertical-align: middle;
}
li {
    margin-top: 17px;
}
